<main class="contenedor panel-administracion">
    <h1><%- pagina %></h1>

    <div class="contenedor-botones">
        <a href="/nuevo-grupo" class="btn btn-amarillo">Agregar grupo</a>
        <a href="/nuevo-meeti" class="btn btn-azul">Nuevo Meeti</a>
        <a href="/editar-perfil" class="btn btn-rosa">Editar Perfil</a>
        <a href="/imagen-perfil" class="btn btn-amarillo">Imagen Perfil</a>
    </div>

    <div class="seccion-admin">
        <h2>Tus Meeti</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Lunes, 22 de Mayo de 2023</p>
                    <h3>E-commerce en Venezuela</h3>
                    <small>23 Asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-azul2">Asistente</a>
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Lunes, 22 de Mayo de 2023</p>
                    <h3>E-commerce en Venezuela</h3>
                    <small>23 Asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-azul2">Asistente</a>
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="seccion-admin">
        <h2>Tus Grupos</h2>
        <ul>
            <% if(grupos.length > 0) { %> 
                <% grupos.forEach(grupo => { %>
                    <li>
                        <div class="informacion-admin">
                            <h3><%- grupo.nombre %></h3>
                        </div>
                        <div class="acciones contenedor-botones">
                            <a href="/imagenG/<%- grupo.id %>" class="btn btn-azul2">Imagen</a>
                            <a href="/editarG/<%- grupo.id %>" class="btn btn-verde">Editar</a>
                            <a href="/eliminarG/<%- grupo.id %>" class="btn btn-rojo">Eliminar</a>
                        </div>
                    </li>
                <% }); %>
            <% } else { %>
                <h3>No hay grupos</h3>
            <% } %>
        </ul>
    </div>
</main>