<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title><%- pagina %></title>
</head>
<body>
    <header class="site-header contenedor">
        <a href="/">
            <img src="img/logo.png" alt="Logo">
        </a>
        <nav class="nav">
            <a href="#">Crear grupo</a>
            <a href="/login">Iniciar sesion</a>
            <a href="/register">Registrarse</a>
        </nav>
    </header>
    <% if(locals.mensajes) { %>
        <% const categorias = Object.keys(locals.mensajes) %>
        <% if(categorias.length > 0) { %>
            <% locals.mensajes[categorias].forEach(alertas => { %>
                <div class="alertas">
                    <p class="alerta <%- categorias %>"><%= alertas %></p>
                </div>
            <% }); %>
        <% } %>
    <% } %>
    <%- body %>
    <footer class="site-footer contenedor">
        <nav class="nav">
            <a href="#">Crear grupo</a>
            <a href="/login">Iniciar sesion</a>
            <a href="/register">Registrarse</a>
        </nav>

        <p class="copyright">Copyright Todos los derechos reservados <%- new Date().getFullYear() %> &copy;</p>
    </footer>
</body>
</html>